.form {
  width: 500px;
  height: 500px;
  padding: 20px;

  .grid-container {
    display: grid;
    row-gap: 10px;

    .grid-item {
      text-align: center;
    }
  }
}

.error {
  color: red;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
